<table>
    <tr>
        <td>Username:</td>
        <td>
            <input type='text' name='username' [(ngModel)]='username'>
        </td>
    </tr>
    <tr>
        <td>Password:</td>
        <td>
            <input type='text' name='password' [(ngModel)]='password'>
        </td>
    </tr>
    <tr>
        <td>Mail:</td>
        <td>
            <input type='text' name='mail' [(ngModel)]='mail'>
        </td>
    </tr>
    <tr>
        <td>Type:</td>
        <td>
            <input type='text' name='type' [(ngModel)]='type'>
        </td>
    </tr>
    <tr>
        <td>
            <button (click)='register()'>Register</button>
        </td>
    </tr>
</table>
