<p>info-knjiga works!</p>

<table>
    <tr>
        <td>Slika</td>
        <td>Autor</td>
        <td>Naslov</td>
        <td>Broj strana</td>
        <td>Godina izdanja</td>
    </tr>

    <tr>
        <td>
            <img src='{{"assets/"+knjiga.slika}}' width="100px">
        </td>
        <td>{{knjiga.autor}}</td>
        <td>{{knjiga.naslov}}</td>
        <td>{{knjiga.brStr}}</td>
        <td>{{knjiga.godina}}</td>
        <td>{{knjiga.naStanju}}</td>
    </tr>
</table>


<form>
    <form>
        Kolicina: <input type='text' name='kolicina' [(ngModel)]='kolicina'>
        <input type='button' value='Naruci' (click)='naruci()'>
    </form>
</form>

{{poruka}}