@{
    ViewData["Title"] = "Chat";
}

<div class="row justify-content-center">
    <a asp-controller="Chat" asp-action="CreateConversation">
        <button class="btn btn-primary">Create Conversation</button>
    </a>
</div>