<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>Servleti.HelloServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetServlet</servlet-name>
        <servlet-class>Servleti.GetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SabiranjeBrojeva</servlet-name>
        <servlet-class>Servleti.SabiranjeBrojeva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProsledjivanjeZahteva</servlet-name>
        <servlet-class>Servleti.ProsledjivanjeZahteva</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProsledjivanjeZahtevaDrugi</servlet-name>
        <servlet-class>Servleti.ProsledjivanjeZahtevaDrugi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SesijaServlet</servlet-name>
        <servlet-class>Servleti.SesijaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/HelloServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetServlet</servlet-name>
        <url-pattern>/GetServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SabiranjeBrojeva</servlet-name>
        <url-pattern>/SabiranjeBrojeva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProsledjivanjeZahteva</servlet-name>
        <url-pattern>/ProsledjivanjeZahteva</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProsledjivanjeZahtevaDrugi</servlet-name>
        <url-pattern>/ProsledjivanjeZahtevaDrugi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SesijaServlet</servlet-name>
        <url-pattern>/SesijaServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
